$color-black: #1d1d1f;

// Breakpoints
$bp-large: 73.25em; // 1172px
$bp-med: 60.125em; // 962px
$bp-small: 41.3125em; // 661px
$bp-smallest: 32.5em; // 520px

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%;

   @media only screen and (max-width: $bp-med) {
      font-size: 50%;
   }
}

body {
   font-family: SF Pro Display, SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
      sans-serif;
}

.main-container {
   display: grid;
   grid-template-rows: min-content repeat(7, 90dvh) repeat(3, min-content);
   grid-template-columns: repeat(8, minmax(min-content, 1fr));
   background-color: #fbfbfd;

   @media only screen and (max-width: $bp-med) {
      display: flex;
      flex-direction: column;
   }
}
