.deals {
   &__macbookair-15 {
      grid-column: 1 / 5;
      padding: 4rem;
      background-image: url(https://www.apple.com/v/home/bc/images/promos/macbook-air-15/promo_macbook_air_15_midnight__3zojl1nanrme_medium.jpg);
      background-size: cover;
      background-position: 50% 65%;
      text-align: center;
      margin: 0 1rem 1rem 1rem;
      @media only screen and (max-width: $bp-med) {
         height: 95dvh;
         background-position: 50% 80%;
         margin: 0;
      }
   }

   &__visionpro {
      grid-column: 5 / -1;
      background-image: url(https://www.apple.com/v/home/bc/images/promos/apple-vision-pro/promo_apple_vision_pro__f4v4zp0sum2y_medium.jpg);
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      padding-bottom: 6rem;
      margin: 0 1rem 1rem 0;

      @media only screen and (max-width: $bp-med) {
         height: 95dvh;
         background-position: center;
         margin: 0;
      }
      @media only screen and (max-width: $bp-small) {
         background-position: center;
      }
   }

   &__watch {
      grid-column: 1 / 5;
      background-image: url(https://www.apple.com/v/home/bc/images/promos/apple-watch-series-8/promo_apple_watch_series_8_spring__d9hfvufh7hyu_medium.jpg);
      background-size: cover;
      text-align: center;
      padding: 4.5rem;
      margin: 0 1rem 1rem 1rem;

      @media only screen and (max-width: $bp-med) {
         height: 95dvh;
         background-position: 50% 70%;
         margin: 0;
      }
   }

   &__tradein {
      grid-column: 5 / -1;
      background-image: url(https://www.apple.com/v/home/bc/images/promos/iphone-tradein/iphone_tradein_promo__d5au3rkw5kuq_medium.jpg);
      background-size: cover;
      text-align: center;
      padding: 4.5rem;
      background-position: 50% 75%;
      margin: 0 1rem 1rem 0;

      @media only screen and (max-width: $bp-med) {
         height: 95dvh;
         margin: 0;
      }
   }

   &__ipadpro {
      grid-column: 1 / 5;
      background-image: url(https://www.apple.com/v/home/bc/images/promos/ipad-pro/promo_ipadpro_refresh__evi9utuixwuq_medium.jpg);
      background-size: cover;
      text-align: center;
      padding: 4.5rem;
      margin: 0 1rem 1rem 1rem;

      @media only screen and (max-width: $bp-med) {
         height: 95dvh;
         background-position: 50% 65%;
         margin: 0;
      }
   }

   &__card {
      grid-column: 5 / -1;
      background-image: url(https://www.apple.com/v/home/bc/images/promos/apple-card/tile__cauwwcyyn9hy_medium.jpg);
      background-size: cover;
      text-align: center;
      background-position: 50% 95%;
      padding: 4.5rem;
      margin: 0 1rem 1rem 0;

      @media only screen and (max-width: $bp-med) {
         height: 95dvh;
         margin: 0;
      }
   }
}

.ipadpro-img {
   display: inline-block;
   transform: translateY(1rem);
}
