.footer {
   grid-column: 1 / -1;
   padding: 2rem 20rem;
   display: flex;
   flex-wrap: wrap;
   // justify-content: center;
   // flex-direction: column;
   // align-items: flex-start;
   // gap: 1rem;
   // padding: 4rem;
   // padding-left: 28rem;
   font-size: 1.2rem;
   letter-spacing: 0.06rem;
   background-color: rgba(218, 218, 218, 0.4);
   color: #6e6e73;
   // transform: translateY(-1.6rem);

   &__item {
      &-1 {
         flex: 1 1 100%;
         border-bottom: 0.5px solid #d2d2d7;
         padding: 1rem 0.8rem 1rem 0;
         margin: 0 0 0.8rem;

         a,
         a:visited,
         a:link {
            color: #0066cc;
         }
      }

      &-2 {
         margin: 0 2.5rem 0 0;
      }
      &-3 {
         margin: 0 auto 0 0;

         &-list {
            display: flex;
            text-decoration: none;
            list-style: none;
            gap: 1rem;
            color: #424245;
         }
      }
      &-4 {
         color: #424245;
      }
   }
}
