.iphone14 {
   grid-column: 1 / -1;
   background-image: url(https://www.apple.com/v/home/bc/images/heroes/iphone-14/hero_iphone14_yellow__eun20sn4imi6_large.jpg);
   background-size: cover;
   background-position: 50% 75%;
   padding: 3.5rem;
   text-align: center;
   margin: 0 1rem 1rem;

   @media only screen and (max-width: $bp-med) {
      height: 95dvh;
      margin: 0;
   }
}
