.iphone14-pro {
   grid-column: 1 / -1;
   background-image: url(https://www.apple.com/v/home/bc/images/heroes/iphone-14-pro/hero_iphone14pro_spring__9xo85pm6sbmm_large.jpg);
   background-size: cover;
   background-position: bottom;
   padding: 3.5rem;
   text-align: center;
   margin: 0 1rem 1rem;

   @media only screen and (max-width: $bp-med) {
      height: 95dvh;
      background-position: center;
      margin: 0;
   }
}
